@{
    ViewBag.Title = @ViewBag.formTiltle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<title>@ViewBag.formTitle</title>
<div class="row box box-danger">
    <div class="col-lg-6">
        <span id="MessageText" class="pull-right"></span>
    </div>
    <div class="col-lg-6">
        <button type="button" id="btnReset" class=" btn bg-olive btn-flat margin pull-right"><i class="glyphicon glyphicon-refresh"></i> Reset</button>
        @* <button type="button" id="btnDelete" class=" btn bg-olive btn-flat margin pull-right"><i class="glyphicon glyphicon-remove"></i> Delet</button>*@
        @*<button type="button" id="btnSearch" class=" btn bg-olive btn-flat margin pull-right"><i class="glyphicon glyphicon-search"></i> Search</button>*@
        <button type="button" id="btnSubmit" onclick="Save()" class=" btn bg-olive btn-flat margin pull-right"><i class="glyphicon glyphicon-save"></i> Save</button>

    </div>
</div>

<div class="row box box-primary">
    <form class="form-horizontal">
        <div class="box-body">
            <div class="form-group">
                <div class="col-lg-3">
                    <label>Therapeutic Class Level-3 Name</label><label style="color: red">*</label>
                </div>
                <div class="col-lg-3">
                    <input type="text" id="TC_L3_DESC" tabindex="2" name="TC_L3_DESC" class="txtBox RequiredTextBox SetFocus" value="" />
                </div>
                @*<div class="col-lg-3">
                    <label>Therapeutic Class Level-3 SLNO.</label>
                </div>
                <div class="col-lg-3">
                    <input type="text" id="TC_L3_SLNO" name="TC_L3_SLNO" tabindex="1" class="txtBox RequiredTextBox" value="" />
                </div>*@
            </div>
            <div class="form-group">
                <div class="col-lg-3">
                    <label>Therapeutic Class Level-3 Code</label>
                </div>
                <div class="col-lg-3">
                    <input type="hidden" id="SUStatus" class="txtBox" />
                    <input type="text" id="TC_L3_CODE" name="TC_L3_CODE" tabindex="1" class="txtBox" value="" readonly="readonly" />
                </div>
            </div>
        </div>
    </form>
</div>


<div class="row box box-success">
    <div id="PageDetailGrid" class="MainGrid" tabindex="5"></div>
</div>
<div id="DeleteConfirmWindow" style="display: none;">
    <p><h5>Are you sure to delete?</h5></p>
    <input type="button" style="height: 25px; width: 60px; margin-left: 10px; float: left;" id="btnConfirmationOK" value="OK" />
    <input type="button" style="height: 25px; width: 60px; margin-left: 30px; float: left;" id="btnConfirmationCancel" value="Cancel" />
</div>

<div id="SaveChangeWindow" style="display: none;">
    <p>
        <h5>Data will be lost if you continue.</h5>
    </p>
    <input type="button" class="ThreeButtonWindow" id="btnSaveChangeWindowOk" value="OK" />
    <input type="button" class="ThreeButtonWindow" id="btnSaveChangeWindowCancel" value="Cancel" />
</div>
<div id="divLoading" style="margin: 0px; padding: 0px; position: fixed; right: 0px; top: 0px; width: 100%; height: 100%; background-color: #666666; z-index: 30001; opacity: .8; filter: alpha(opacity=70); display: none">
    <h3 style="position: absolute; top: 50%; left: 42%; color: White;">
        Loading, please wait...<img src="~/Content/Images/cube.gif" />
    </h3>
</div>
<style>
    .gridHeader {
        background: #B4EEB4;
    }

    .box {
        background: #FFFAF0;
    }
</style>
<script>
    //***************************** To Declare Global Variable ****************************//
    var changeStatus = 0;
    var resetEditDeleteStatus = 0;
    var dataitem = {};
    //NumericAndDecimalValue(TC_L3_CODE);
    //NumericAndDecimalValue(TC_L3_CODE);


    //************************* START Document.Ready Finction ******************************//
    $(document).ready(function () {
        OnlyNumericValue('TC_L3_SLNO');

        //************************* Handling DELETE event for DELETING ROW from DETAIL GRID ******************************//
        function handleDelete(event) {
            dataitem = grid.dataItem($(event.currentTarget).closest("tr"));
            if (changeStatus == 0) {
                OpenConfirmationDialog();
            }
            else {
                resetEditDeleteStatus = 3; //Delete Button
                OpenSaveChangesDialog();
            }
        };


        //************************* EDIT Button for DETAIL GRID******************************//
        function handleEdit(event) {
            // For Grid Edit Button
            resetEditDeleteStatus = 2;
            // When Changes Data
            if (changeStatus == 1) {
                dataitem = grid.dataItem($(event.currentTarget).closest("tr"));
                OpenSaveChangesDialog();
            }
                // When No Changes Data
            else {
                $(".RequiredTextBox").css("border-color", "");
                dataitem = grid.dataItem($(event.currentTarget).closest("tr"));
                SetMasterData(dataitem);
                $("#SUStatus").val(1);
                $("#TC_L3_CODE").attr("disabled", "disabled");
            }
        };


        //************************* DEFINE DETAIL KENDO GRID ******************************//
        var dataSource = new kendo.data.DataSource({
            batch: true,
            schema: {
                model: {
                    id: "TC_L3_CODE",
                    fields: {
                        TC_L3_CODE: { editable: false },
                        TC_L3_DESC: { editable: false },
                        TC_L3_SLNO: { editable: false }
                    }
                }
            },
            pageSize: 10,
            transport: {
                read: {
                    url: "@Url.Action("GetTherapeuticLevel3List", "TCLevel3")",
                    type: "GET"
                }
            }
        });

        //To Define Columns for Store Kendo Grid

        var grid = $('#PageDetailGrid').kendoGrid({
            dataSource: dataSource,
            width: 430,
            pageable: true,
            editable: true,
            selectable: "row",
            navigatable: true,
            filterable: true,
            sortable: true,
            height: 300,
            columns: [
                { field: "TC_L3_CODE", title: "Therapeutic Class Level-3 Code", width: 150, filterable: true, headerAttributes: { "class": "gridHeader", style: "font-weight: bold;font-size: 13px;text-align: center" } },
                { field: "TC_L3_DESC", title: "Therapeutic Class Level-3 Name", width: 150, headerAttributes: { "class": "gridHeader", style: "font-weight: bold;font-size: 13px;text-align: center" } },
                //{ field: "TC_L3_SLNO", title: "Therapeutic Class Level-3 SlNo.", width: 150, headerAttributes: { "class": "gridHeader", style: "font-weight: bold;font-size: 13px;text-align: center" } },
                { command: [{ name: "Edit", text: "Edit", imageClass: "k-icon k-edit", click: handleEdit }], title: "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Edit", width: "80px", headerAttributes: { "class": "gridHeader", style: "font-weight: bold;font-size: 13px;text-align: center" } },
                { command: [{ name: "DeletedRow", text: "Delete", imageClass: "k-icon k-i-close", click: handleDelete }], title: "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Delete", width: "80px", headerAttributes: { "class": "gridHeader", style: "font-weight: bold;font-size: 13px;text-align: center" } }
            ]
        }).data('kendoGrid');
        //************************* END OF DETAIL GRID ******************************//

        //************************* Handling YES BUTTON click for GRID ROW Deletetion ******************************//
        $('#btnConfirmationOK').click(function () {
            $.ajax({
                url: '@Url.Action("Delete", "TCLevel3")',
                type: 'POST',
                data: JSON.stringify({ "tcL3Code": dataitem.TC_L3_CODE }),
                contentType: 'application/json;',
                dataType: 'json',
                success: function (respnse) {
                    if (respnse.msg.Type == 2) {
                        ClearOperationalMessage();
                        ResetOnlyMasterPageData();
                        $('#MessageText').html(respnse.msg.Msg);
                        $("#MessageText").css({ 'color': 'green', 'font-size': 'larger', 'font-weight': 'bold', 'text-align': 'left' });
                        $("#PageDetailGrid").data("kendoGrid").dataSource.remove(dataitem);
                        $(".RequiredTextBox").css("border-color", "");
                        $("#Status").val("Active");
                        $(".SetFocus").focus();
                    }
                    else {
                        $("#MessageText").html(respnse.msg.Msg);
                        $("#MessageText").css({ 'color': 'red', 'font-size': 'larger', 'font-weight': 'bold', 'text-align': 'left' });
                    }
                }
            });
            $(".RequiredTextBox").css("border-color", "");
            CloseConfirmationDialog();
        });


        //************************* Handling NO BUTTON click for GRID ROW Deletetion ******************************//
        $('#btnConfirmationCancel').click(function () {
            dataitem = {};
            CloseConfirmationDialog();
        });

        //************************* Click Save Chages Window OK Button******************************//
        $("#btnSaveChangeWindowOk").click(function () {
            if (resetEditDeleteStatus == 1) { // Reset
                ResetOnlyMasterPageData();
                //ClearDetailGridFilterAndPaging('PageDetailGrid');
                $(".RequiredTextBox").css("border-color", "");
                GridReload('PageDetailGrid');
                $("#Status").val("Active");
                $("#TC_L3_CODE").removeAttr("disabled");
                changeStatus = 0;
                location.reload();
                CloseSaveChangesDialog();
            }
            else if (resetEditDeleteStatus == 2) { // Edit
                $(".RequiredTextBox").css("border-color", "");
                SetMasterData(dataitem);
                $("#SUStatus").val(1);
                $("#TC_L3_CODE").attr("disabled", "disabled");
                changeStatus = 0;
                CloseSaveChangesDialog();
            }
            else if (resetEditDeleteStatus == 3) { // Delete
                $.ajax({
                    url: '@Url.Action("Delete", "TCLevel3")',
                    type: 'POST',
                    data: JSON.stringify({ "tcL3Code": dataitem.TC_L3_CODE }),
                    contentType: 'application/json;',
                    dataType: 'json',
                    success: function (respnse) {
                        if (respnse.msg.Type == 2) {
                            $('#MessageText').html(respnse.msg.Msg);
                            $("#MessageText").css({ 'color': 'green', 'font-size': 'larger', 'font-weight': 'bold', 'text-align': 'left' });
                            $("#PageDetailGrid").data("kendoGrid").dataSource.remove(dataitem);
                            ClearOperationalMessage();
                            ResetOnlyMasterPageData();
                            $(".RequiredTextBox").css("border-color", "");
                            $("#Status").val("Active");
                            $(".SetFocus").focus();
                        }
                        else {
                            $("#MessageText").html(respnse.msg.Msg);
                            $("#MessageText").css({ 'color': 'red', 'font-size': 'larger', 'font-weight': 'bold', 'text-align': 'left' });
                        }
                    }
                });
                $(".RequiredTextBox").css("border-color", "");
                changeStatus = 0;
                CloseSaveChangesDialog();
            }
            else
                CloseSaveChangesDialog();
        });

        //************************* Click Save Chages Popup Cancel Button******************************//
        $("#btnSaveChangeWindowCancel").click(function () {
            CloseSaveChangesDialog();
        });


        //************************* Clear Operational Message after Operational Message ******************************//
        ClearOperationalMessage();

        //************************* Clear TEXT BOX COLOR after fire any EVENT ******************************//
        ClearRequiredTextBoxRedColor();

        //************************* To Chech UNSAVED Data in Details GRID ******************************//
        CheckUnSavedMasterData();

        //************************* Set Focus on First TextBox ******************************//
        $(".SetFocus").focus();
        //// Declare Numeric Class in SlNo Textbox
        //$(".numaric").numeric();

        //************************* WINDOWS LOAD Method  ******************************//
        window.onbeforeunload = function (e) {
            if (changeStatus == 1) {
                e.preventDefault();
            }
        };
        //************************* END of Document.Ready Method ******************************//
    });

    //************************* RESET Function for RESET Button ******************************//
    $("#btnReset").click(function () {
        resetEditDeleteStatus = 1; //Reset Button
        // When Chages Data
        if (changeStatus == 1)
            OpenSaveChangesDialog();
            // When no Chages Data
        else {
            ClearOperationalMessage();
            ResetOnlyMasterPageData();
            $(".RequiredTextBox").css("border-color", "");
            GridReload('PageDetailGrid');
            $("#Status").val("Active");
            $("#TC_L3_CODE").removeAttr("disabled");
            location.reload();
        }
    });

    //************************* SAVE Function for SAVE Button ******************************//


    //*************** DECLARE VIEW MODEL for SAVING Data ***********************************//
    var tcClassLevel3Model = { "TC_L3_CODE": "", "TC_L3_DESC": "", "TC_L3_SLNO": "" };
    var saveStatus = 1;
    // Save Or Update Data
    function Save() {

        saveStatus = 1;
        // Check Maximum Length in MfcNicName
        CheckRequiredTextBoxMaxLength('TC_L3_DESC', 100);

        // Check Maximum Length in ContactNumber
        CheckNormalTextBoxMaxLength('TC_L3_SLNO', 10);

        // Check Save Proper Data
        if (saveStatus == 1) {
            tcClassLevel3Model.TC_L3_CODE = $("#TC_L3_CODE").val();
            tcClassLevel3Model.TC_L3_DESC = $("#TC_L3_DESC").val();
            tcClassLevel3Model.TC_L3_SLNO = $("#TC_L3_SLNO").val();
            tcClassLevel3Model.SUStatus = $("#SUStatus").val();
            if (changeStatus == 1) {
                $.ajax({
                    url: '@Url.Action("SaveAndUpdateData", "TCLevel3")',
                    data: JSON.stringify(tcClassLevel3Model),
                    type: 'POST',
                    contentType: 'application/json;',
                    dataType: 'json',
                    success: function (response) {
                        if (response.msg.Type == 2) {
                            changeStatus = 0;
                            $("#SUStatus").val(1);
                            GridReload('PageDetailGrid');
                            $('#TC_L3_CODE').val(response.Code);
                            $('#MessageText').html(response.msg.Msg);
                            $("#MessageText").css({ 'color': 'green', 'font-size': 'larger', 'font-weight': 'bold', 'text-align': 'left' });
                        }
                        else if (response.msg.Type == 3) {
                            changeStatus = 0;
                            GridReload('PageDetailGrid');
                            $('#MessageText').html(response.msg.Msg);
                            $("#MessageText").css({ 'color': 'green', 'font-size': 'larger', 'font-weight': 'bold', 'text-align': 'left' });
                        }
                        else {
                            changeStatus = 0;
                            $('#MessageText').html(response.msg.Msg);
                            $("#MessageText").css({ 'color': 'red', 'font-size': 'larger', 'font-weight': 'bold', 'text-align': 'left' });
                        }
                    }
                });
            }
                // No Changes Exiting Data
            else {
                $("#MessageText").html("No Changes to Save.");
                $("#MessageText").css({ 'color': 'red', 'font-size': 'larger', 'font-weight': 'bold', 'text-align': 'left' });
                $("#TC_L3_CODE").focus();
            }
        }
    };
    //************************* END of SAVE Function *******************************************//
    var dataSource1 = new kendo.data.DataSource({
        transport: {
            read: {
                url: '@Url.Action("GetSuggestTCLevel3List", "TCLevel3")',
                type: "GET"
            }
        }
    });
    $("#TC_L3_DESC").kendoAutoComplete({
        dataSource: dataSource1,
        filter: "startswith"
    });
</script>